body {
    background-color: black;
}
div {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    color: white;
    text-align: center
}
img {
    width: 100%;
    border: 5px white solid
}
h1 {
    text-transform: uppercase;
    font-family:"Libre Baskerville", serif;
}